package views

templ Home() {
    @Layout("Home") {
        <div class="col text-center">
            <br><br>
            <p class="mt-5">Things to try:</p>
            <div class="list-group">
                <a href="/sessions" class="list-group-item list-group-item-action">Try Sessions</a>
            </div>
        </div>
    }
}